{% extends 'base.html' %} {% block content %}
<a href="https://www.instagram.com/concretespice/">
<div class="row">
  <div class="column">
    {% for gif in gif_set_0 %}
    <img src={{gif}}>
    {% endfor %}
  </div>
  <div class="column">
    {% for gif in gif_set_1 %}
    <img src={{gif}}>
    {% endfor %}
  </div>
  <div class="column">
    {% for gif in gif_set_2 %}
    <img src={{gif}}>
    {% endfor %}
  </div>
  <div class="column">
    {% for gif in gif_set_3 %}
    <img src={{gif}}>
    {% endfor %}
  </div>
</div>
</a>
{% endblock %}
