<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Concrete Spice</title>
  </head>
  <body>
    <div class="logo">
      <img src="static/images/logo.png">
    </div>
    <div class="follow">
      <a href="https://www.instagram.com/concretespice/"><img src="https://media.giphy.com/media/1vZ6SvvT2t4oFwNU0E/giphy.gif">
    </div>
    <div class="row">
      <div class="column">
        <img src="https://media.giphy.com/media/US08vOBGfQJsQ/giphy.gif">
        <img src="https://media.giphy.com/media/A4mX199uSixI4/giphy.gif">
        <img src="https://media.giphy.com/media/28V8SHk997ah2/giphy.gif">
      </div>
      <div class="column">
        <img src="https://media.giphy.com/media/OwSlpGFab7fq0/giphy.gif">
        <img src="https://media.giphy.com/media/DYWl99j1LFF2o/giphy.gif">
        <img src="https://media.giphy.com/media/3o7bu61TjB7YQll4yc/giphy.gif">
        <img src="https://media.giphy.com/media/26u4oPZwxsfSjet7q/giphy.gif">
      </div>
      <div class="column">
        <img src="https://media.giphy.com/media/13cMYrbpeJsX8Q/giphy.gif">
        <img src="https://media.giphy.com/media/26Ff4YURfhIP1huog/giphy.gif">
        <img src="https://media.giphy.com/media/MVnnLh5WhGBhe/giphy.gif">
        <img src="https://media.giphy.com/media/12XGECQYa80YAo/giphy.gif">
      </div>
      <div class="column">
        <img src="https://media.giphy.com/media/n9fUozyTUAKIw/giphy.gif">
        <img src="https://media.giphy.com/media/L7F3PakLagm9W/giphy.gif">
        <img src="https://media.giphy.com/media/HZpCCbcWc0a3u/giphy.gif">
        <img src="https://media.giphy.com/media/Fa2vR8hle8s9y/giphy.gif">
      </div>
    </div>
  </body>
</html>
